
        *{
            margin: 0;
            padding: 0;
        }

        body{
            height: 100vh;
            width: 100vw;
            background-image: url(images/33932.jpg);
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .container{
            margin: 20px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            border: 2px;
            border-radius: 15px;
            background-image: linear-gradient(to bottom,skyblue,rgba(0, 0, 255, 0),rgba(128, 0, 128, 0.327));
            display: flex;
            align-items: center; 
            /* justify-content: center; */
            height: 430px;
            width: 350px;
            gap: 0;
            box-shadow: 5px 5px 5px 5px rgba(245, 245, 245, 0.34);
            justify-content: flex-start;


        }
        .search{
            width: 90%;
            display: flex;
            align-items:center;
            justify-content:space-between ;
        }
        .search input{
            border: 0;
            outline: 0;
            background:#ebfffc;
            color: #555;
            padding: 10px 25px;
            height: 10px;
            border-radius: 30px;
            
            flex: 1;
            margin-right: 16px;
        }
        .search button{
            border: 0;
            outline: 0;
            background:#ebfffc;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            cursor: pointer;

        }
       
        .search img{
            width: 10px;
        }
        .weather img{
            height: 100px;
            width: 100px;
            display: block;
            margin: 0 auto;
            padding-top: 10px ;
            
           
             
        }
        .weather h1{
            font-weight: 500;
            font-size: 60px;
            text-align: center;
            color: rgb(39, 127, 59);
        }
        .weather h2{
            font-weight: 400;
            font-size: 30px;
            margin-top: -10px;
            text-align: center;
            color: rgb(39, 127, 59);
        }
        .details{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px ;
            margin-top: 50px;
            gap:70px;
            text-align: center;
            width: 100%;
            border: 2px;
            
        }
        .col img{
            height: 90px ;
            width: 90px;

        }
        .status{
            text-align: center;
            color:  rgb(39, 127, 59);
            
        }
       
    